.Header-component {
    text-align: center;  
    background-color: #383838;
    line-height: 28px;
    padding-top: 20px;    
    margin-bottom:10px;
}

.Header-component > h1 {
  color: #EBBA16 !important;
  font-size: 18pt;
  font-weight: 600;
}
 
.Header-component > p {  
  color: #E7ECED;
  font-size: 11pt;
  margin: auto;
  font-weight: 100;
}

.Header-component > p > a {   
  color: #EBBA16 !important;
}